body, header, #audioPlayer, #preBuiltDemos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header {
    margin-top: 20px; /* Adjust as needed */
}

#audioPlayer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Ensure full width */
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100; /* Ensure it's above other content */
}

/* Default styles for mobile devices (1 column) */
#preBuiltDemos, #recentUploads {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
    perspective: 1000px; /* Adjust as needed for the depth effect */

}

.demo {
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition for scaling */
}

.demo:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.demo img {
    transition: transform 0.2s, box-shadow 0.2s;
    transform-style: preserve-3d; /* Essential for 3D rotation */
    display: block; /* To ensure img behaves as expected */
}

/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) {
    #recentUploads {
        /* Adjusts to 2 columns for medium screens */
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px; /* Adjust if needed */
    }
    #preBuiltDemos {
        /* Adjusts to 2 columns for medium screens, you can keep it at 3 if it looks better */
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px; /* Adjust if needed */
    }
}

/* Large devices (desktops, 900px and up) */
@media (min-width: 900px) {
    #preBuiltDemos {
        /* Adjusts to 3 columns for large screens */
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px; /* This might not be needed anymore unless you want to limit the max-width */
    }
    #recentUploads {
        /* Adjusts to 2 columns for medium screens */
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px; /* Adjust if needed */
    }
    /* If you want #recentUploads to also have 3 columns on larger screens, add similar rule here */
}



.demo-content {
    display: flex;
    align-items: center;
}

.demo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px; /* Adds spacing between the image and the title */
}

.demo {
    cursor: pointer;
    transition: transform 0.2s;
    margin: 10px 0; /* Add some vertical space between demos */
    width: 100%; /* Ensure demos take full width of their container */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.demo:hover {
    transform: scale(1.05);
}
#backingVolume {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
} 

#nowPlaying {
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing */
}

#nowPlayingImg {
    width: 50px; /* Adjust size */
    height: 50px; /* Adjust size */
    object-fit: cover;
    margin-bottom: 10px;
}

#nowPlayingTitle {
    margin-top: 0;
}
#audioPlayerContainer {
/*     display: flex; */
    align-items: center; /* Align vertically */
    justify-content: center; /* Center content horizontally, if needed */
    flex-direction: row; /* Arrange children side by side */
    width: 100%; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
}

#nowPlaying {
    margin-right: 20px; /* Adds some space between Now Playing and playback controls */
}

#playbackControls {
    /* Any specific styles for playback controls */
}


.hidden {
    display: none;
}

.interaction-section {
    margin: 20px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.record-controls, .file-upload-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}