<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>P.A.G.E.S Page</h1>
    </header>
    <section id="demosSection">
        <div id="audioPlayerContainer">
            <div id="nowPlaying">
                <img id="nowPlayingImg" src="" alt="Now Playing" style="display: none;"> <!-- Hide by default -->
                <h3 id="nowPlayingTitle"></h3>
            </div>
            <div id="playbackControls">
                <audio id="mainAudio" controls>
                    <source src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <audio id="backingAudio" src="static/audio/backing.mp3"></audio>
                <div>
                    <label for="backingVolume">Backing Volume:</label>
                    <input type="range" id="backingVolume" name="volume" min="0" max="1" step="0.01" value="0.1"> <!-- value="0.5" -->
                </div>
            </div>
        </div>
        <h2>Pre-cooked Demos</h2>
        <div id="preBuiltDemos">
            <!-- JavaScript will populate this with demos -->
        </div>
    </section>
    <section id="recordYourself">
        <h2>Record Yourself</h2>
        <button id="recordBtn">Start Recording</button>
        <button id="stopRecordBtn" disabled>Stop Recording</button>
        <div id="recordingStatus">Not recording</div>
        <audio id="recordedAudio" controls hidden></audio>
    </section>
    <!-- File Upload Section -->
    <section id="fileUploadSection">
        <h2>Upload Your Recording</h2>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="audioFile" id="audioFile">
            <button type="submit">Upload File</button>
        </form>
    </section>
    <section id="howItWorks">
<!--              <h2>How It Works</h2> -->
        <!-- Placeholder for explanatory text -->
<!--         <p>Details to be added...</p> --> -->
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
